<div class="inputs">
  <div class="input-group flex">
    <input type="text" placeholder="Nombre" class="half">
    <input type="text" placeholder="Apellido" class="half">
  </div>
  <div class="input-group">
    <input type="text" placeholder="Nombre de Usuario">
  </div>
  <div class="input-group">
    <input type="text" placeholder="Correo">
  </div>
  <div class="input-group">
    <input type="password" placeholder="Contraseña">
  </div>
</div>
<div class="input-buttons">
  <button class="btn red" routerLink="/materias"><div class="text">Registrar</div> <md-icon class="arrow-icon">arrow_forward</md-icon></button>
</div>
